# Datos pesados
data/raw/
data/processed/
data/external/

# Modelos y artefactos
models/
checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks
.ipynb_checkpoints/

# Config local / secretos
.env
*.log
